body {
    background-color: white;
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #333;
    text-rendering: optimizeLegibility;
    
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

em {
    font-weight: bold;
}

strong {
    font-weight: bold;
    color: darkred;
}

section.container {
    background-color: white;
    padding: 3rem 2rem;
    
}

.main-nutrition-container {
    background-color: white;
    padding: 3rem 2rem;
    margin-top: 50px;
    max-width: 1200px;
    margin: auto;
}

section.container h1 {
    color: #333;
}

main.container {
    margin-top: 50px;
    max-width: 1200px;
    padding: 2rem;
    
}

main.workout-container {
    margin-top: 50px;
    padding: 2rem;
}

.btn-outline-dark {
    border-radius: 30px;
    padding: 10px 30px;
}

.logo-pic {
    width: 50px;
    height: auto;
    margin-right: 10px;
}



.muscle-groups {
    width: 38%;
    height: auto;
    margin: auto;
    max-width: 100%;
}


.exercise-list li{
    display: inline; 
}

.food-groups ul {
    list-style-type: disc;
    padding-bottom: 2rem;
    text-align: left;
}

.muscle-group-heading {
    font-weight: 700;
    font-size: 1.25rem;
    color: #800000;
    margin-bottom: 0.5rem;
}

.access-button {
    text-transform: uppercase;
    color: darkred;
    font-style: italic;
}


#consent {
    margin-bottom: 20px ;
}

#freeplan {
    background-image: url(images/white-black-homepage-pic.jpg);
}

ul {
    padding-left: 1.2rem;
    list-style-type: none;

}

.workout-type {
    margin: 0;

}

.navbar .nav-link {
    color: #333;
    background-color: transparent;
    text-decoration: none;
}

.navbar .nav-link:visited {
    color: #333;
}

.navbar .nav-link:hover {
    color: darkred;
    text-decoration: underline;
}

.navbar .nav-link:active {
    color: darkred;
    text-decoration: underline;
}

.fitny-link {
    color: #333;
    background-color: transparent;
    text-decoration: none;
}


.fitny-link:hover {
    color: darkred;
    background-color: transparent;
    text-decoration: underline;
}

.contact-link {
    color: #333;
    background-color: transparent;
    text-decoration: none;
}

.contact-link:hover {
    color: darkred;
    background-color: transparent;
    text-decoration: underline;
}

.email-link {
    color: darkred;
    background-color: transparent;
    text-decoration: none;
}

.number-link {
    color: darkred;
    background-color: transparent;
    text-decoration: none;
}

.exercise-link {
    text-decoration: none;
    color: #333;
}

.exercise-link:hover {
    color: darkred;
    text-decoration: underline;
}

.workout-page-link {
    text-decoration: none;
}

.workout-page-link:hover {
    color: darkred;
    text-decoration: underline;
}

.access-button-link {
    color: #000000;
    text-decoration: none;
}
.access-button-link:hover {
    text-decoration: underline;
    color:#800000
}

@media (max-width: 768px) {
    .nav {
        flex-direction: column;
    }
}

